<head>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<div id="tester" style="width:100%;height:75%;"/>


<script>

	{% if rawData %}
		var rawData = {{rawData}};
	{% endif %}


    {% if spect %}
		var specdata = {{spect}};
	{% endif %}
    {% if meta %}
		var meta = {{meta}};
	{% endif %}

    {% if fq %}
		var fs = {{fq}};
	{% endif %}

    {% if t %}
		var t = {{t}};
	{% endif %}
	
	
	var plot = document.getElementById('tester');
	
	var counter = 0;

	var spect = {

	x: t,
    y: fs,
    z: specdata,
    colorbar: {title: 'dB'},
    colorscale: [['0', 'rgb(0,0,0)'], ['0.15', 'rgb(30,10,100)'], ['0.4', 'rgb(120,20,100)'], ['0.6', 'rgb(160,90,0)'], ['0.8', 'rgb(230,200,0)'], ['1', 'rgb(255,250,220)']],
    dx: 1,
    dy: 1000,
    name: 'dB',
    type: 'heatmap',
    uid: 'b1c78a',
    x0: 0,
    y0: 0,
    zauto: false,
    zmax: 500,
    zmin: -50,
    xaxis: 'x',
    yaxis: 'y',

    }

	 var data = [{
			x: {{time}},
			y: {{signal}},
			mode:'lines',
            type: 'scatter',
            xaxis: 'x',
            yaxis: 'y2',

			},spect,];


	var layout = {

	    grid: {
	    rows: 2,
        columns: 1,
            subplots:[['xy'], ['xy2']],



        },
	title:'Audio signal',
	xaxis: {
            title:"time [s]",
            rangeslider: {}

        	},
	margin: { t: 0 },
	yaxis: {
			title:"Frequfency [Hz]"
        },
		 shapes: []

	};
	
	var pts = [];

	Plotly.plot( plot, data,layout);
	
	plot.on('plotly_click', function(data)
	{
	
	for(var i=0; i < data.points.length; i++)
		{
	        pts.push(data.points[i].x);
			console.log(data.points[i].x); 
		
	//alert('Closest point clicked:\n\n'+annotate_text);
		var shapes = plot.layout.shapes;
		if(counter < 2)
			{
		shapes.push(
				{
			    	 type: 'line',
			   	 x0: data.points[i].x,
			   	 y0: 0,
			  	 x1: data.points[i].x,
			  	 yref: 'paper',
				 y1: 1,
			   	 line: {
				      	color: 'red',
				      	width: 1.5,
				     	 dash: 'dot'
			    		}
			  	});

	       
				counter++;
			}
			else
			{
				shapes =[];
				counter = 0;
			}
			 Plotly.relayout('tester',{shapes: shapes});
    		}
	});
	
	
	function download()
	{
		console.log('download');
		if(counter ==2){
			const Url = "/chartGenerator/download/";
			const data = pts;
			const otherParam={
			body:data,
			method:"POST"
			};
			fetch(Url,otherParam)
			.then(data=>{return JSON.stringify(data)});
                
		}
	}



</script>
{% csrf_token %}
<button onclick="download()">download</button>
 

